{% extends 'login/template.html' %} {% block content %} {% load static %}
<div class="post">
  <div class="post-header"><a href="#">John McEnroe</a> <em>10/17/2018</em></div>
  <span>Went outside today and it was raining. PORQUE?!</span>
  <div class="img" style="background-image: url({% static 'login/img/post/test.png' %});">
  </div>
  <h3><a href="www.google.com">Heading Heading Heading</a></h3>
  <form action="reply" method="post">
    <textarea></textarea>
    <button type="submit" class="button small">Reply</button>
    <button class="button small">Like</button>
  </form>
  <div class="comment">
    <div class="comment-header"></div>
    <div class="comment-body">Where am I right now? I can't even.</div>
    <div class="comment-footer"><button class="button small">Like</button></div>
  </div>
</div>
{% endblock content %}